@import url(/css/general/style.css) all;




.hero-section {
    margin: 14em 15em 2em 15em;
}

.hero-section .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.hero-section .top h1 {
    font-size: 300%;
    font-weight: 600;
    width: 100%;
}

.hero-section .top .name {

    background: var(--gradient-button);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero-section .top .info {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;

    width: 60%;
}

.hero-section .top img {
    padding: 2px;
    background: #fff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 150px;
    box-shadow: 10px 20px 10px #aaa;
}

.hero-section .top .info p {
    margin-top: 1.5em;
    width: 100%;
}

.hero-section .link {
    margin-top: 3em;
}

.hero-section .link a {
    padding: 20px 40px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    border-radius: 30px;
    background: var(--gradient-button);
    transition: .5s ease-out;
}

.hero-section .link a:hover {
    background: linear-gradient(to right, #18dcff, rgb(11, 84, 102), #7f11aa);
}












.projects{
    margin: 8em 20em 2em 20em;
}

.projects .top p,
.technologies .top p,
.about-me .top p {
    font-size: var(--headingText);
    font-weight: 600;
}

.card-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 4em;
    height: 100%;
    width: 100%;
}

.card-holder .cards{
    display: flex;
    gap: 2em;
    height:100%;
    width: 100%;
}

.card-holder .cards .card1{
    height: 100%;
    width: 100%;
    padding: 1.5em;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-direction: column;
    transition: .5s ease-in-out;
    border: .2px dotted #aaa;
    cursor: pointer;
}

.card-holder .cards .card1:hover {
    border: .5px solid var(--border-color);
}

.card-holder .cards .card1 img {
    width: 100%;
    height: 20em;
    border-radius: 15px;
    transition: ease-in-out .7s;
}

.card-holder .cards .card1 img:hover {
    transform: scale(1.05);
}

.card-holder .cards .card1 .github-link {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}

.card-holder .cards .card1 a {
    color: var(--text-color);
    text-decoration: none;
    background: var(--gradient-button);
    padding: 15px 25px;
    border-radius: 15px;
    transition: all 1s ease-in-out !important;
    font-size: 90%;
    text-align: left;
}

.card-holder .cards .card1 a:hover {
    background: var(--gradient-button);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    border: 1px solid #18dcff52;
}

.card-holder .cards .card1 p {
    color: #999;
}









.technologies,
.about-me,
footer {
    margin: 8em 15em 2em 15em;
}

.tech-skills {
    margin-top: 4em;
}

.technologies .tech-skills {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.technologies .tech-skills .lang-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
}

.technologies .tech-skills .lang-holder .level {
    font-size: 80%;
    color: #fff;
}

.technologies .tech-skills .lang-holder .lang {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.technologies .tech-skills .lang-holder .lang p {
    font-weight: 700;
}

.technologies .tech-skills .lang-holder .lang .inward-bar{
    margin-top: 1em;
    height: 15px;
    background: var(--gradient-button);
    border-radius: 10px;
    transition: .2s ease-in;
    color: #aaa;
}
.technologies .tech-skills .lang-holder:hover{
    .inward-bar{
        box-shadow: 0 10px 20px #18dcff52;
    }
}



.writeups {
    margin-top: 4em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
}
.writeups1{
    display: flex;
    align-items: flex-start;
    gap: 2em;
}
.writeups p {
    margin-top: .5em;
    font-size: 85%;
}

.writeups i {
    font-size: 130%;
    background: var(--gradient-button);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.writeups .heading {
    font-weight: 700;
}


.progress-container .inward-bar {
    transition: 2s ease-in-out !important;
    width: 0%;
}














@media (max-width: 1200px) {
    header {
        padding: 0 10em 10px 10em !important;
    }

    .hero-section {
        margin: 14em 10em 2em 10em;
    }
    .hero-section .top {
        flex-direction: column;
        gap: 2em;
    }

    .hero-section .top .info {
        display: flex;
        align-items: left;
        justify-content: space-between;
        flex-direction: column;

        width: 100%;
    }


    .projects {
        margin: 8em 10em 2em 10em !important;
    }

    .technologies,
    .about-me,
    footer {
        margin: 8em 12em 2em 12em !important;
    }
}


@media (max-width: 860px) {
    header {
        padding: 0 5em 10px 5em !important;
    }
    .hero-section {
        margin: 14em 5em 2em 5em;
    }
    nav{
        display: none;
    }
    header .fa-bars-staggered{
        display: block;
    }
    .card-holder .cards{
        height: 100%;
        flex-direction: column;
    }

    


    .projects {
        margin: 8em 6em 2em 6em !important;
    }


    .technologies,
    .about-me,
    footer {
        margin: 8em 5em 2em 5em !important;
    }

    footer{
        flex-direction: column;
        gap: 2em;
        font-size: 80%;
    }
}


@media (max-width: 720px) {
    body{
        font-size: 15px;
    }
    .hero-section{
        margin: 10em 5em 2em 5em;
        text-align: center;
    }
    .hero-section .top img{
        margin-right: 0;
        align-self: center;
    }
}




@media (max-width: 600px) {
    header {
        padding: 0 3em 10px 3em !important;
    }

    .projects {
        margin: 8em 3em 2em 3em !important;
    }
    .card-holder .cards .card1 img{
        height: 15em;
    }

    .technologies,
    .about-me,
    footer {
        margin: 8em 3em 2em 3em !important;
    }
}


@media (max-width: 500px) {
    header .social-links{
        display: none;
    }
}